openai
streamlit
langchain
pandas
numpy
scikit-learn
matplotlib
python-dotenv
transformers
faiss-cpu
plotly
huggingface_hub
google-generativeai
google-generativeai>=0.7.2
langchain
langchain-openai
faiss-cpu
PyPDF2
langchain.document_loaders
