openai
streamlit
langchain
pandas
numpy
scikit-learn
matplotlib
python-dotenv
faiss-cpu
plotly
huggingface_hub
google-generativeai
google-generativeai>=0.7.2
langchain
langchain-openai
faiss-cpu
PyPDF2
langchain-community
pypdf
langchain-text-splitters
networkx
